

.section_div{
    height: 8vh;
    background-color: white;
    border-bottom-style: solid;
    border-bottom: rgb(230, 16, 16);
    display: flex;
    justify-content: center;


}

.nav_bar_parent_div{
  display: flex;
  justify-content: space-around;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  align-items: center;
  
}

.list_items{
  display: flex;
  gap: 30px;
  text-align: center;
}

#search{
  color: blue;
}



.herosection {
  background-color: rgb(17, 0, 255);
  background-image: url(que.png);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
height: 100vh;


}

.herosection h1{
  color: white;
  font-size: xx-large;
  font-weight: 200;
  width: 50%;
  text-align: center;
}

.herosection p{
  color: aquamarine;
  margin-top: 20px;
  margin-bottom: 20px;
}
.b1{
  width: 200px;
  height: 50px;
  background-color: purple;
  border-color: transparent;
  border-style: solid;
  color: white;
}
.b2{
  width: 200px;
  height: 50px;
  background-color: transparent;
  border-color: white;
  border-style: solid;
  color: white;
}


.seo_section{
  height: 60vh;
  background-color: red;
}
.imgs{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.two {
  display: flex;
  align-items: center;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
.container1{
  width: 50%;
}
container2{
  width: 50%;
}
.container2 h3{
  font-size: large;
  color: blueviolet;
}
.container2 p{
  color: gray;
  margin-top: 30px;
  margin-bottom: 30px;

}
.btn3{
  height: 50px;
  width: 200px;
  background-color: aqua;
  border-style: solid;
  border-radius: transparent;
  color: white;

}
.macbook-image{
  width: 50%;
}
.project-section{
  background-color: black;
  height: auto;
  color: white;
}
.project{
  text-align: center;
  padding-top: 50px;
  font-weight: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.here{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}


.images div img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}
.images div{
  width: calc(100%/4);

}
.images{
  display: flex;
  flex-wrap: wrap;
}



/* media query section */
@media (max-width: 1024px) {
  .images div{
    width: calc(100%/2);
  
  }
  
}


@media (max-width: 834px) {
  .section_div{
    display: none;
    
  }
  .two{
    flex-wrap: wrap;
  }
  .container2{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .images div{
    width: calc(100%/1);
  
  }
  
}


@media (max-width: 480px) {
  .btn{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
}
/* media section ends here */




.testimonial{
  background-image: url(2.jpg);
  height: 60vh;
  padding-top: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}

.comment{
  text-align: center;
  margin-top: 20px;
  font-weight: 100;
  color: gold;
}
.comment-2{
  text-align: center;
  color: rgb(247, 240, 255);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
}
.client-1{
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.person{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.label{
  color: white;
  text-align: center;
  
}